* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5px;
}
.backgroud{
	background: url("../img/25135ea6a9abec0b3f404777588b66ec.png");
	background-position: center;
    background-size:cover ;
    height: 100vh;
    width: 100%;
    filter: blur(1px);
}
section.login{
	background: url("../img/anh-nen-phong-canh-anime-dep-don-gian.jpg") no-repeat;
	width: 600px;
	height: 400px;
	background-size: cover;
	background-position: center;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
from{
	background: white;
	box-sizing: border-box;
	width: 50%;
	padding: 40px;
	flex-direction: column;
	display: flex;
	gap: 20px;
}
h1{
    font-size: 32px;
	margin-bottom: 20px;
	text-transform: uppercase;
	
}
lable{
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: rgb(100, 100, 100);
}
input{
	width: 200px;
	border: none;
	border-bottom: 2px solid #333;
	padding: 10px 0px;
	outline: none;
}
input:focus{
	border-bottom: 2px solid #e0c445;
}

button{
	margin-top: -5px;
	width: 150px;
	border: none;
	background: #333;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px;
	box-shadow: 2px 2px 0px #e0c445;
	cursor: pointer;
}
button:hover{
	background: #e0c445;
	color:#333;
}
from p{
	cursor: pointer;
	margin-top: -5px;
}
.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    
	
}
.remember-password label input{
    accent-color: #333;
    margin-right: 3px;
    
}
.remember-password a{
    color: #333;
    text-decoration: none;
}
.remember-password a:hover{
    text-decoration: underline;
}